<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

 </div>
    <div class="s-my-counts s-content">
        <ul>
            <li>
                <a class="daifukuan" target="_blank" href=""><span>待付款</span></a>
            </li>
            <li>
                <a class="daifahuo" target="_blank" href=""><span>待发货</span></a>
            </li>
            <li>
                <a class="daishouhuo" target="_blank" href=""><span>待收货<em>1</em></span></a>
            </li>

            <li>
                <a  target="_blank" href="//buyertrade.taobao.com/trade/itemlist/list_bought_items.htm?action=itemlist/BoughtQueryAction&event_submit_do_query=1&tabCode=waitRate"><span>待评价<em>3</em></span></a>
            </li>
            <li>
                <a data-spm="d4919664" target="_blank" href="//refund.taobao.com/refund_list.htm"><span>退款</a></span>
            </li>
        </ul>
    </div>
</div>
</body>
</html>