{% extends 'base.html' %}
{%  block lunbo %}
<link rel="stylesheet" href="/static/css/index.css">
    <script type="text/javascript" async="" src="/static/css/index.js"></script>
    <div class="slide-box" id="slide-top">
  <div class="slide" data-thumbnail-enabled="false" data-image-height="420" data-image-width="1920" style="position: relative; z-index: 1; height: 420px; width: 1349px;">
    <div class="slide-inner" style="position: absolute; z-index: 1; height: 420px; width: 6745px; top: 0px; left: -2698px;">
      <div class="slide-item" data-thumbnail="" style="height: 420px; width: 1349px;">
        <a class="slide-item-wrapper" href="https://market.douban.com/campaign/oolongtea" target="_blank">
          <img src="/static/images/dou/file-1546941711-0.jpg" alt="None">
        </a>
      </div>
      <div class="slide-item" data-thumbnail="" style="height: 420px; width: 1349px;">
        <a class="slide-item-wrapper" href="https://market.douban.com/campaign/softcovernotebook" target="_blank">
          <img src="/static/images/dou/file-1546942690-0.jpg" alt="./豆瓣豆品1_files/file-1531663680-1.jpg">
        </a>
      </div>
      <div class="slide-item" data-thumbnail="" style="height: 420px; width: 1349px;">
        <a class="slide-item-wrapper" href="https://market.douban.com/campaign/canvastotebag" target="_blank">
          <img src="/static/images/dou/file-1545027816-0.jpg" alt="./豆瓣豆品1_files/file-1531663680-1.jpg">
        </a>
      </div>
      <div class="slide-item" data-thumbnail="" style="height: 420px; width: 1349px;">
        <a class="slide-item-wrapper" href="https://bizpage.douban.com/doumao-coming" target="_blank">
          <img src="/static/images/dou/file-1542540211-1.jpg" alt="./豆瓣豆品1_files/file-1531663680-1.jpg">
        </a>
      </div>
      <div class="slide-item" data-thumbnail="" style="height: 420px; width: 1349px;">
        <a class="slide-item-wrapper" href="https://bizpage.douban.com/doupin" target="_blank">
          <img src="/static/images/dou/file-1531663680-1.jpg" alt="./豆瓣豆品1_files/file-1531663680-1.jpg">
        </a>
      </div>
    </div>
  <a class="slide-button-next"></a><a class="slide-button-prev"></a><ul class="slide-paginator"><li class="slide-paginator-item " data-index="0">●</li><li class="slide-paginator-item " data-index="1">●</li><li class="slide-paginator-item active" data-index="2">●</li><li class="slide-paginator-item " data-index="3">●</li><li class="slide-paginator-item " data-index="4">●</li></ul></div>
</div>
{% endblock %}